<ion-view title="Camera" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/Video) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 58.9844px;"></div>
    <button id="camera-button11" class="button button-dark button-block button-clear icon ion-android-car"></button>
    <div class="spacer" style="width: 300px; height: 58.9844px;"></div>
    <div style="margin-right:-20px;">
      <button id="camera-button8" style="left:-10px;border-radius:0px 0px 0px 0px;" class="button button-positive button-full icon ion-android-camera"> Tap for photo or hold for video.</button>
    </div>
  </ion-content>
</ion-view>