<ion-view title="Explore" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-contacts"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <button id="explore-button24" style="text-align:left;" class="button button-light button-block icon-left ion-search">Search..</button>
    <div class="list card" id="explore-card22">
      <ion-item class="item-avatar" id="explore-list-item13">
        <img src="img/iaWizXSjTLUHeJvpoLHD_maxresdefault.jpg">
        <h2>John Mayer</h2>
        <p>What's this?</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/igeUPsUtQL2Z4sIoLnnn_bad-drivers-7.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="explore-list-item-container6">
        <div id="explore-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Check this, what is he doin?, call the cops!!</p>
        </div>
      </div>
    </div>
    <div id="explore-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Fetching data..</strong>
      </p>
    </div>
  </ion-content>
</ion-view>