<ion-view title="Filtering" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="filtering-form3" class="list">
      <label class="item item-select" id="filtering-select1" name="Filtering">
        <span class="input-label">Brand</span>
        <select>
          <option>Honda</option>
          <option>Toyota</option>
          <option>Mercedes-Benz</option>
          <option>BMW</option>
          <option>Volvo</option>
          <option>MG</option>
          <option>Subaru</option>
          <option>Ford</option>
          <option>Mitsubishi</option>
          <option>Nissan</option>
          <option>Volkswagen</option>
          <option>Isuzu</option>
        </select>
      </label>
      <label class="item item-select" id="filtering-select2">
        <span class="input-label">Color</span>
        <select>
          <option>Black</option>
          <option>White</option>
          <option>Blue</option>
          <option>Red</option>
          <option>Green</option>
          <option>Grey</option>
          <option>Others</option>
          <option>+ Add more color</option>
        </select>
      </label>
      <label class="item item-select" id="filtering-select4">
        <span class="input-label">Date/Time</span>
        <select>
          <option>Day</option>
          <option>Month</option>
          <option>Year</option>
          <option>+ Fill in</option>
        </select>
      </label>
      <label class="item item-input" id="filtering-input3">
        <span class="input-label">License Plate</span>
        <input type="text" placeholder="กก 1234">
      </label>
    </form>
  </ion-content>
</ion-view>