<ion-view title="Friends List" id="page9">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-person-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="friendsList-list10">
      <ion-item class="item-avatar" id="friendsList-list-item27">
        <img src="img/XJKQdHPSla0BAE2ecU2A_cat.jpg">
        <h2>Somchai Verachart</h2>
        <p>ID: somchai.07</p>
      </ion-item>
      <ion-item class="item-avatar" id="friendsList-list-item28">
        <img src="img/DxXiBczbR4aklEQ9INvC_kmn.jpg">
        <h2>Derek Hanson</h2>
        <p>ID: derek.h</p>
      </ion-item>
      <ion-item class="item-avatar" id="friendsList-list-item29">
        <img src="img/TeQ8L2DFRTiXFgwyL7zz_pagani-logo.png">
        <h2>Jonathan Griffith</h2>
        <p>ID: jonag</p>
      </ion-item>
      <ion-item class="item-avatar" id="friendsList-list-item30">
        <img src="img/OaZD5gTeTx6e7pqHCylf_Bugatti-PNG-HD.png">
        <h2>Al Logan</h2>
        <p>ID: alberton.gg</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>