<ion-view title="History" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-options"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="history-list8">
      <ion-item class="item-divider" id="history-list-item-divider6"> My Previous Catching Up</ion-item>
      <ion-item class="item-avatar" id="history-list-item8">
        <img src="img/RzyXt4jFTHqV9gYDXjGO_drifting-tips-for-beginners.jpg">
        <h2>Toyota</h2>
        <p>AE 9111</p>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="history-list-item9">
        <img src="img/ajJOo36xRpSm6oOpm2ks_lambo.jpg">
        <h2>Lamborghini</h2>
        <p>SN 9999</p>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>