<ion-view title="My Feed" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="myFeed-list7">
      <ion-item class="item-avatar" id="myFeed-list-item17">
        <img src="img/XXBVW3ARfeo5zSoNYBgy_ScreenShot2017-09-15at01.07.00.png">
        <h2>Benzblahblah</h2>
        <p>My recent history</p>
      </ion-item>
    </ion-list>
    <div>
      <img src="img/H20MRtOiRuWQKNSfK8LF_drifting-tips-for-beginners.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 19.9844px;"></div>
    <div id="myFeed-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Date/Time</strong> Thu 12/09/17 13:51</p>

      <p style="color:#000000;">
        <strong>Brand</strong> Toyota</p>

      <p style="color:#000000;">
        <strong>Model</strong> AE86</p>

      <p style="color:#000000;">
        <strong>Color</strong> White/Black</p>

      <p style="color:#000000;">
        <strong>License Plate</strong> AE 9111</p>

      <p style="color:#000000;">
        <strong>Caption</strong> My dad's car, He gave me yesterday.</p>
    </div>
    <div id="myFeed-button-bar2" class="button-bar">
      <button id="myFeed-button14" style="font-weight:600;font-size:15px;text-align:left;" class="button button-positive icon-left ion-thumbsup">Like</button>
      <button id="myFeed-button16" style="font-weight:600;font-size:12px;" class="button button-light">Comment</button>
      <button id="myFeed-button15" style="font-weight:600;font-size:12px;text-align:left;" class="button button-assertive icon-left ion-thumbsdown">Dislike</button>
    </div>
    <div class="spacer" style="width: 300px; height: 28.9844px;"></div>
    <div id="myFeed-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>3 Comments</strong> with
        <strong> 70 Like and 2 Dislike </strong>
      </p>
    </div>
    <ion-list id="myFeed-list3">
      <ion-item class="item-avatar" id="myFeed-list-item7">
        <img src="img/vOv1iMJMQ4MUkpVZyy8A_jsn.jpg">
        <h2>Jon Snow</h2>
        <p>cool bro!!</p>
      </ion-item>
      <ion-item class="item-avatar" id="myFeed-list-item18">
        <img src="img/WoYfCdPSCi062arBEj0Q_Vzp9bT2K.jpg">
        <h2>Tyrion Lannister</h2>
        <p>I Love it.</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 11.9844px;"></div>
    <div id="myFeed-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>View more comments...</strong>
      </p>
    </div>
  </ion-content>
</ion-view>