<ion-view title="Profile" id="page6">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="profile-list6">
      <ion-item class="item-thumbnail-left" id="profile-list-item16">
        <img src="img/8zW1yTES7mH1XJQc2ZwB_ScreenShot2017-09-15at01.07.00.png">
        <h2>Benzblahblah</h2>
        <p>Just ordinary life.</p>
      </ion-item>
      <ion-item class="item-divider" id="profile-list-item-divider3"> My Garage</ion-item>
      <ion-item class="item-icon-left dark" id="profile-list-item23">
        <i class="icon ion-android-car"></i>Alphard Vellfire
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left dark" id="profile-list-item22">
        <i class="icon ion-android-car"></i>Porsche 911
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left dark" id="profile-list-item21">
        <i class="icon ion-android-car"></i>Toyota AE86
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>
    <ion-list id="profile-list9">
      <ion-item class="item-icon-left dark" id="profile-list-item24">
        <i class="icon ion-android-car"></i>Toyota Supra
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>